<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CinemaMapper">

	<select id="CinemaList" resultType="com.example.demo.Cinema">
		SELECT 
		*
		FROM CINEMA
	</select>
	<select id="CinemaName" parameterType="int" resultType="String">
		SELECT 
		c_name
		FROM CINEMA
		WHERE c_no = #{c_no}
	</select>
	
</mapper>