<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MovieMapper">

	<select id="MovieCount" resultType="int">
		SELECT 
			COUNT(*) 
		FROM MOVIE
	</select>
	
	<select id="MovieInsert" parameterType="com.example.demo.Movie">
		INSERT INTO movie (m_title, m_img, m_pubDate, m_director, m_rating)
		VALUES (#{m_title}, #{m_img}, #{m_pubDate}, #{m_director}, #{m_rating})
	</select>
	
	<select id="MovieList" resultType="com.example.demo.Movie">
		SELECT * FROM MOVIE
	</select>
	
	<select id="MovieDelete" parameterType="int">
		DELETE FROM BOARD WHERE m_no = #{m_no}
	</select>
	
	<select id="MovieNumber" parameterType="com.example.demo.Movie">
		SELECT m_no 
		FROM MOVIE
		WHERE m_title = #{m_title} AND m_director = #{m_director}
	</select>
	
	<select id="ScheduleInsert" parameterType="com.example.demo.Schedule">
		INSERT INTO schedule (m_no, date, s_time, e_time, c_no) 
		VALUES (#{m_no}, #{date}, #{s_time}, #{e_time}, #{c_no})
	</select>
</mapper>